body {
  font-family: 'Lato', sans-serif;
  line-height: 1.40;
  font-size: 18px;
  background-color:#71f31a7c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.submit {
  height:25px;
  background:#ffffff9e;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-size: 17px;
}

.header {
  color:#008a3ee3;
  padding-top:10px;
  font-style: italic;
}